.idea
/faceFit_Python/Tools/
/faceFit_django/.env
/faceFit_javascript/node_modules/
faceFit_Python/.idea/faceFit_Python.iml
faceFit_Python/.idea/inspectionProfiles/Project_Default.xml
faceFit_Python/.idea/inspectionProfiles/profiles_settings.xml
faceFit_Python/.idea/misc.xml
faceFit_Python/.idea/modules.xml
faceFit_Python/.idea/vcs.xml
faceFit_Python/__pycache__/
faceFit_Python/images/final_morphs/
