extends layout

block layout-content
    main.container
        // Popup Window
        #popup-window(style='display: none;')
          #popup-content
              h3 Enter your email:
              input#email-input(type='email')
              button#send-email-button Send Email
        #ref_btns.asnav2Class
            each file in data
                div.select_ch
                    button.ref_btn.button-image
                        img.img_ref(src=file, crossorigin="anonymous")

        #main_view.camView
            #hints_section
                label#hints_title HINTS
                table(style='width:100%')
                    tr
                        td(style='width:15%') Pitch
                        td(style='width:85%')
                            #pb_x
                    tr
                        td Jaw
                        td
                            #pb_y
                    tr
                        td Roll
                        td
                            #pb_z
            canvas#canvas
                image#ref_img(src='' alt='Welcome to Face-Fit')
        video#webcam.invisible(autoplay="true" muted width="1280" height="960")
        canvas#cam_canvas(width="1280" height="960")
        #morph_btns.asnav1Class
            each n in data
                div.show_morph
                    button.morph_btn.button-image
                        img.img_morph(src='images/Thumbs/morph_thumb.jpg')


    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl')
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow-models/face-detection")
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow-models/face-landmarks-detection')

    script(src='js/opencv.js')
    script(src="js/main2.js" type="module" )
    //script(src='js/opencv.js' onload="opencvIsReady" defer type="text/javascript")




