block variables
doctype html
html
    header
        h1 Face-Fit
        button#popup-button(type='button', title='Send Mail')
            img#send_logo
        button#reset-button(type='button', title='Reset All')
            img#reset_logo
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title} | Face Mesh Implementation
        link(rel="stylesheet" type="text/css" href="/CSS/mystyle.css")
        link(rel="stylesheet" type="text/css" href="/CSS/custom_slicks.css")
        script(async src=`https://www.googletagmanager.com/gtag/js?id=${ga_key}`)

        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', "#{ga_key}");


    body
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        block layout-content
