block variables
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title} | Face Mesh Implementation
        link(rel="stylesheet" type="text/css" href="/mystyle.css")
        link(rel="stylesheet" type="text/css" href="/plugins/slick/slick.css")
    header
        h1 Face-Fit
        button#popup-button(type='button')
            img#send_logo

    body
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        block layout-content
