html
  head
    title Privacy Policy
    link(rel="stylesheet" type="text/css" href="/CSS/mystyle.css")


  body
    h1#policy_title Privacy Policy
    #text_container(style='color: #f1f1f1;')

      p
        | Thank you for using our web application, Face Fit. This Privacy Policy is designed to provide clarity on the collection, utilization, and safeguarding of your personal information. By engaging with our services, you implicitly agree to the terms outlined in this policy.

      h2 Information We Collect

      p
        | We exclusively capture head poses through your device's camera for the purpose of generating the final image match. Following the creation of the result image and its transmission via email, no files or images are retained on our system.

      h2 Use of Head Poses

      p
        | The head poses captured are solely utilized for the image matching process within the Face Fit app. We refrain from using or sharing these images for any other purpose, and they are promptly removed from our servers after the result image is generated.

      h2 Email Communication

      p
        | Upon generating the result image, we may request your email address to send you the final match. Your email address is used solely for this purpose and is not stored or used for any marketing or promotional activities.

      h2 Data Security

      p
        | We prioritize the security of your data. Face Fit employs industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, and destruction.

      h2 Third-Party Services

      p
        | We do not share your head pose images or personal information with any third-party services. The entire process, from head pose capture to result image generation to email delivery, is managed within our secure environment.

      h2 Children's Privacy

      p
        | Face Fit is intended for individuals under the age of 13 only under the direct supervision of an adult. We do not knowingly collect personal information from children. If you believe that we may have inadvertently collected information from a child, please contact us immediately.

      h2 Changes to the Privacy Policy

      p
        | We reserve the right to update this Privacy Policy to reflect changes in our practices. Users will be notified of any material changes by posting the updated policy on our website.

      h2 Contact Information

      p
        | For questions or concerns regarding our Privacy Policy, please contact us at #[a(href="mailto:#{process.env.MAIL}" style="color: blanchedalmond;") #{process.env.MAIL}].

