html
  head
    title Privacy Policy
    link(rel="stylesheet" type="text/css" href="/CSS/mystyle.css")


  body
    h1#policy_title Privacy Policy
    #text_container(style='color: #f1f1f1;')

      p
        | Thank you for using our web app. This Privacy Policy is designed to help you understand how we collect, use, and safeguard your personal information. By using our services, you agree to the terms outlined in this policy.

      h2 Information We Collect

      p
        | We collect facial images through your device's webcam solely for the purpose of generating artwork. We do not store any files or images on our system after the artwork is created and sent via email.

      h2 Use of Facial Images

      p
        | The facial images captured are used exclusively for the artistic transformation process within the web app. We do not use or share these images for any other purpose, and they are not stored on our servers after the artwork is generated.

      h2 Email Communication

      p
        | Upon generating the artwork, we may request your email address to send you the final result. Your email address is used solely for this purpose and is not stored or used for any marketing or promotional activities.

      h2 Data Security

      p
        | We take the security of your data seriously. Our web app employs industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, and destruction.

      h2 Third-Party Services

      p
        | We do not share your facial images or personal information with any third-party services. The entire process, from image capture to artwork generation to email delivery, is handled within our secure environment.

      h2 Children's Privacy

      p
        | Our services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children. If you believe that we may have inadvertently collected information from a child, please contact us immediately.

      h2 Changes to the Privacy Policy

      p
        | We reserve the right to update this Privacy Policy to reflect changes in our practices. We will notify users of any material changes by posting the updated policy on our website.

      h2 Contact Information

      p
        | If you have any questions or concerns regarding our Privacy Policy, please contact us at #[a(href="mailto:#{process.env.MAIL}" style="color: blanchedalmond;") #{process.env.MAIL}].

      p
        | Thank you for trusting us with your information.
