:root {
    --black: #000000;
    --white: #FFFFFF
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: var(--black);
    font-family: 'Trebuchet MS';
}
.container {
    width: 100%;
    height: 100%;
    min-width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    overflow: hidden;
}
.ref_btn, .morph_btn{
    padding: 0;
    border: 0;
    background: transparent;
    display: block;
    margin: 10px auto;
}
.img_ref, .img_morph{
    position: initial;
    width: 100%;
    max-width:  150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img_ref{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: auto;
    display: block;
    margin: auto;
}

#webcam {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: auto;
    visibility: visible;
    display: block;
    margin: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

header {
    width: 100%;
}
h1 {
    margin: auto;
    text-align: center;
    color: var(--white);
    border-bottom: 2px solid var(--white);
    padding: 10px;
}

/*.container > div {*/
/*    flex: 1*/
/*}*/
.removed {
    display: none;
}

.invisible {
    opacity: 1;
}

.camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
}

/*.camView p {*/
/*    position: absolute;*/
/*    padding: 5px;*/
/*    background-color: rgba(255, 111, 0, 0.85);*/
/*    color: #FFF;*/
/*    border: 1px dashed rgba(255, 255, 255, 0.7);*/
/*    z-index: 2;*/
/*    font-size: 12px;*/
/*}*/

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

/* PRELOADER
*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}