
/FaceFit/static/assets/json/painting_data.json
/FaceFit/static/assets/js/face_landmarker.task
/FaceFit/static/assets/images/image01.jpg

/FaceFit/static/assets/images/image02.jpg

/FaceFit/static/assets/images/image03.jpg

/FaceFit/static/assets/images/image04.jpg

/FaceFit/static/assets/images/image05.jpg

/FaceFit/static/assets/images/image06.jpg

/FaceFit/static/assets/images/image07.jpg

/FaceFit/static/assets/images/image08.jpg

/FaceFit/static/assets/images/image09.jpg

/FaceFit/static/assets/images/image10.jpg

/FaceFit/static/assets/images/image11.jpg

/FaceFit/static/assets/images/image12.jpg

/FaceFit/static/assets/images/image13.jpg

/FaceFit/static/assets/images/image14.jpg

/FaceFit/static/assets/images/image15.jpg

/FaceFit/static/assets/images/image16.jpg

/FaceFit/static/assets/images/image17.jpg

/FaceFit/static/assets/images/image18.jpg

/FaceFit/static/assets/images/image19.jpg

/FaceFit/static/assets/images/image20.jpg

/FaceFit/static/assets/images/image21.jpg

/FaceFit/static/assets/images/image22.jpg
