django==4.1
matplotlib==3.8.1
numpy==1.26.0
opencv-python==4.6.0.66
mediapipe==0.10.8
shapely==2.0.1
scipy==1.11.3
color-matcher
python-dotenv==1.0.0
python-decouple==3.8
whitenoise[brotli]>=6.0,<7.0
django-heroku
gunicorn
